{% extends 'base.html' %}
{% load static %}
{% block body_block %}
<style>.login-wrap{max-width:550px;min-height:500px}</style>
<div class="body hey py-5 ">
<div class="login-wrap hey">
<div class="login-html" >
<div class="" style="text-align: center;">
<h2>Password Reset</h2>
</div><br><hr>
<div class="login-form" >
{% if validlink %}
<form role="form" method="post" action="">
{% csrf_token %} 
<div class="px-5">
<div class="group">
<label for="user" class="label">Password</label>
<input id="user" name="new_password1" type="password" class="input" >
</div>
<div class="group">
<label for="user" class="label">Confirm Password</label>
<input id="user" name="new_password2" type="password" class="input" >
</div><hr><br>
<button type="submit" class="btn btn-primary btn-lg btn-block">Reset Password</button>
</form>
{% else %}
<h5 class="mssg"> The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</h5>
{% endif %}

<a href="" class="btn btn-warning btn-lg btn-block">Sign In</a>
</div>
</div>
</div>
</div>
</div>
{% endblock %}